/* flex box is basically just a collection of CSS attributes which can be used together;
    to create very powerful grid layouts in your CSS
    Grid layout is basically a bunch of elements or container which are typically interacting with each other.
    Actually, they're responsive. So if you shrink the size of the screen all items will get smaller and adjust; and
    similarly if you increase the screen size, then all the items will enlarge themseleves to fit the screen size. */
/*  */

.flex-container {
    display: flex; /* dynamic change in size of each elements. */
    flex-direction: row; /* row/column */
    justify-content: space-around; /* space-between/center/flex-start/flex-end */
    flex-wrap: wrap; /* wrap-reverse/no-wrap >> just wrap the items; 
    spill on the next line (just like text is wrapped when size is small */
    align-items: flex-start; /* /flex-end/center/ grid must be same size;level out the grid blocks */
    align-content: space-between; /* flex-end/center/space-around/flex-start
    it avoids whitespace by alligning the content together*/
    /* you can edit one particular item too...using "align-self"; it controls align-items > for specific value */

}